<div *ngIf="identity" class=" container row">
    <div *ngIf="identity" class="head-page col-12">

            <h1>{{titulo}}</h1> 
            <a [routerLink]="['/crear-artista']" *ngIf="identity && identity.role == 'ROLE_ADMIN'" class="btn btn-light">
                Añadir Artista
            </a>
    <div class="col-12">
        <ul class="pagination pull-right">
            <li>
                <a [routerLink]="['/artistas', prev_page]" class="btn btn-sm btn-outline-dark">&laquo;</a>
            </li>
            <li>
                <a [routerLink]="['/artistas', next_page]" class="btn btn-sm btn-outline-dark">&raquo;</a>
            </li>
        </ul>
    </div>
    <div class="clearflix"></div>
    <div class="col-12">
        <ul class="artist-list row" *ngIf="identity">
            <li *ngFor="let artist of artists" class="artist-item col-3">
                <div class="artist-image">
                    <img src="{{url + 'get-image-artist/' + artist.image}}" />
                </div>
                <div class="artist-name">
                    <a [routerLink]="['/artista', artist._id]">
                        {{artist.name}}
                    </a>
                     <div class="buttons">
                       <a [routerLink]="['/editar-artista', artist._id]" class = "btn btn-sm btn-warning">
                        Editar</a>
                       <a (click) = "onDeleteConfirm(artist._id)" class = "btn btn-sm btn-danger">
                        Borrar</a>
                     </div>
                     <div class="seguro" *ngIf = "confirmado == artist._id">
                        <a (click)="onDeleteArtist(artist._id)" class="btn btn-sm btn-danger">
                            Eliminar</a>
                        <a (click)="onCancelArtist()" class="btn btn-sm btn-success">
                            Cancelar</a>
                     </div>
                </div>
            </li>
        </ul>
    </div>
</div>
    
