<div class="container">
    <div class="row justify-content-center" *ngIf="identity && identity.role == 'ROLE_ADMIN'">

        <div class="col-6">
            <h1>{{titulo}}</h1>
            <hr>

            <div *ngIf="alertMessage">
                <div class="alert alert-info" role="alert">
                    {{alertMessage}}
                </div>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-6">

            <form #formSong="ngForm" (ngSubmit)="onSubmit()">
                <p>
                    <label>Numero</label>
                    <input type="text" #number="ngModel" name="number" [(ngModel)]="song.number" required class="form-control" />
                    <span *ngIf="!number.valid && number.touched">
                        El numero de la cancion es Obligatorio
                    </span>
                </p>
                <p>
                    <label>Titulo</label>
                    <input type="text" #name="ngModel" name="name" [(ngModel)]="song.name" required class="form-control" />
                    <span *ngIf="!name.valid && name.touched">
                        El titulo es Obligatorio
                    </span>
                </p>
                <p>
                    <label>Duracion</label>
                    <input type="text" #duration="ngModel" name="duration" [(ngModel)]="song.duration" required class="form-control">
                    <span *ngIf="!duration.valid && duration.touched">
                        La duracion es obligatoria
                    </span>
                </p>
                <div *ngIf="is_edit">
                    <div class="song_file_for_edit" *ngIf="song.file && song.file != 'null'">
                        <audio controls>
                            <source src="{{url + 'get-song-file/' + song.file}}" type="audio/mpeg" />
                                El navegador web no soporta reproduccion de audio
                        </audio>
                    </div>
                    <p>
                        <label>Sube el fichero de audio</label>
                        <input type="file" placeholder="Subir fichero.." (change)="fileChangeEvent($event)" />
                    </p>
                </div>
                <input type="submit" value="{{titulo}}" [disabled]="!formSong.form.valid" class="btn btn-success" />

            </form>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="!identity || identity.role != 'ROLE_ADMIN'">
        <div class="col">
            <h1>Error</h1>
            <p>No tienes acceso a esta parte de la aplicacion</p>
        </div>
    </div>
</div>